<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>
	<!-- link css bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="container">
		<!-- HEADER -->
			<div class="row">
					<div class="col-lg-12 col-12">
						<img src="../assets/img/logo.png" class="img-fluid rounded mx-auto d-block" alt="logo">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-12">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  			<a class="navbar-brand" href="#">Navbar</a>
			  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			   			<span class="navbar-toggler-icon"></span>
			  			</button>
						 <div class="collapse navbar-collapse" id="navbarNav">
					 	  <ul class="navbar-nav">
						  	   	 <li class="nav-item active">
						    	 <a class="nav-link" href="../index.html">Home<span class="sr-only">current)</span></a>
						    	 </li>
						    	 <li class="nav-item">
						     	  <a class="nav-link" href="#">Menu</a>
						    	 </li>
						    	 <li class="nav-item">
						     	  <a class="nav-link" href="locales.html">Locales</a>
						    	 </li>
						     	 <li class="nav-item">
						      	 <a class="nav-link" href="propuesta.html">Propuesta</a>
						    	 </li>
						    	 <li class="nav-item">
						     	  <a class="nav-link" href="contacto.html">Contacto</a>
						    	 </li>
						   	</ul>
					 	</div>
						</nav>
					</div>
				</div>
		<!-- MAIN -->
			<div class="row">
				<div class="col-lg-3 col-12">
					<h2>Entradas</h2>
					<ul class="list-group">
					  <li class="list-group-item">Empanada de carne</li>
					  <li class="list-group-item">Empanada de queso gruyere y cebolla</li>
					  <li class="list-group-item">Chorizo</li>
					  <li class="list-group-item">Morcilla</li>
					  <li class="list-group-item">Chorizo especial de rosca</li>
					  <li class="list-group-item">Salchicha parrillera</li>
					  <li class="list-group-item">Morrones asados</li>
					  <li class="list-group-item">Buñuelitos de espinaca</li>
					  <li class="list-group-item">Milanesitas de mozzarella</li>
					  <li class="list-group-item">Provoleta</li>
					</ul>
				</div>
				<div class="col-lg-3 col-12">
					<h2>Parrilla</h2>
					<ul>
						<li class="list-group-item">Mollejas</li>
						<li class="list-group-item">Cuarto de pollo deshuesado</li>
						<li class="list-group-item">Colita de cuadril</li>
						<li class="list-group-item">Bife de chorizo</li>
						<li class="list-group-item">Entraña</li>
						<li class="list-group-item">Asado</li>
						<li class="list-group-item">Vacio</li>
						<li class="list-group-item">Matambrito de ternera</li>
						<li class="list-group-item">Bondiola de cerdo</li>
						<li class="list-group-item">Bife de lomo</li>
					</ul>
				</div>
				<div class="col-lg-3 col-12">
					<h2>Postres</h2>
					<ul>
						<li class="list-group-item">Budin de pan</li>
						<li class="list-group-item">Flan casero</li>
						<li class="list-group-item">Sufle de banana</li>
						<li class="list-group-item">Manzana asada al tinto</li>
						<li class="list-group-item">Creme brulee</li>
						<li class="list-group-item">Volcan de chocolate</li>
						<li class="list-group-item">Pastel de manzana </li>
						<li class="list-group-item">Panqueque de manzanas</li>
						<li class="list-group-item">Peras al torrontes</li>
						<li class="list-group-item">Mousse de chocolate</li>
					</ul>
				</div>
				<div class="col-lg-3 col-12">
					<h2>Bebidas</h2>
					<ul>
						<li class="list-group-item">Los pasos malbec</li>
						<li class="list-group-item">Los pasos Syrah</li>
						<li class="list-group-item">Los pasos Chardonnay</li>
						<li class="list-group-item">Septima Cabernet</li>
						<li class="list-group-item">Septima Gran Reserva</li>
						<li class="list-group-item">Norton Roble Merlot</li>
						<li class="list-group-item">Norton Roble Sauvignon</li>
						<li class="list-group-item">Norton Malbec D.O.C.</li>
						<li class="list-group-item">Portillo Cabernet</li>
						<li class="list-group-item">Salentein Numina</li>
					</ul>
				</div>
			</div>
		<!-- FOOTER -->
			<div class="container-fluid">
	      		<footer class="row footerBg paddingTB">
		        	<div class="col-lg-4 col-12">
		         	 	<h3>LOGO</h3>
		        	</div>
		       	 	<div class="col-lg-4 col-12">
		          		<h3>REDES SOCIALES</h3>
		        	</div>
		        	<div class="col-lg-4 col-12">
		          		<h3>CONTACTO</h3>
		        	</div>
	      		</footer>
	    	</div>
	</div>    	
	<!-- scripts bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>